:root {

  --text: #222222;
  --bg: #F5F3EE;
  --bgWhite: #fbf9fa;
  --main: #9f7920;
  --secondary: #977750;
  --terciary: #d1bca2;
  --fourth: #748b71;
  
  --shadow: 3px 5px 15px -3px rgba(0,0,0,0.2);
  --colorShadow: 0px 0px 8px 2px #97775058;

  --superTitle: 3vw;
  --title: 2vw;
  --title2: 1.2vw;
  --paragraph: 1vw;
  --topTitle: .8vw; 

  --superTitleMobile: 7.3vw;
  --titleMobile: 6.5vw;
  --title2Mobile: 5.3vw;
  --paragraphMobile: 3.5vw;
  --topTitleMobile: 2.7vw; 
  
  --paragraphLine: 4vh;
  --paragraphLine2: 3vh;
  --paragraphLine3: 2vh;
  

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth !important;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}


a {
  color: inherit;
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
} 

