.container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: var(--text);
    justify-content: center;
    position: relative;
    background-color: var(--bg);
    gap: 10vh;
    padding: 20vh 0 20vh 0;
}

.scrollOffset {
    position: absolute;
    top: -80px;
    height: 80px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 0 15vw 0 15vw;
    position: relative;
}

@keyframes visibleAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.title {
    font-size: var(--superTitle);
    font-weight: 900;
    animation-delay: .3s;
    opacity: 1;
    color: var(--bg);
    font-size: var(--superTitle);
    align-self: flex-start;
    z-index: 5;
}

.visible {
    animation: visibleAnimation 1s ease-in-out forwards;
}




@media  (max-width: 799px) {

    .container {
        padding: 20vh 0 20vh 0;
    }

    .title {
        font-size: var(--superTitleMobile);
    }
    

}


@media (min-width: 800px) and (max-width: 999px) {

    .container {
        padding: 20vh 0 20vh 0;
    }

}


@media (min-width: 1000px) and (max-width: 1199px) {

    .container {
        padding: 20vh 0 20vh 0;
    }
}


@media (min-width: 1200px) and (max-width: 1499px) {

    .container {
        padding: 20vh 0 20vh 0;
    }

}